{% extends 'base.html' %}

{% block title %}CPandP - Enter Room{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <h1>Enter Room</h1>
            <form method="post" class="room-form">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="room_id" class="form-label">Room ID:</label>
                    <input type="text" id="room_id" name="room_id" required oninput="capitalizeText('room_id')" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="passkey" class="form-label">Passkey (if required):</label>
                    <input type="password" id="passkey" name="passkey" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Enter</button>
            </form>
            {% if error_message %}
                <div class="alert alert-danger mt-3">{{ error_message }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
