{% extends 'base.html' %}

{% block title %}CPandP - Home{% endblock %}

{% block content %}
    <h2>Introduction</h2>
        <p>CPandP (CopyAndPaste) is a versatile web application designed for efficient and secure text sharing between devices without the need for user login or compromising privacy. The platform offers a unique and exclusive room creation feature, enabling users to share text files, URLs, or secret messages with ease and speed. By introducing an optional passkey authentication method, CPandP ensures that text sharing remains secure and confidential, providing users with a trustworthy and privacy-conscious solution.</p>

        <h2>Use Case Features</h2>
        <ul>
            <li>Secure and private text sharing</li>
            <li>Room creation with unique IDs</li>
            <li>Optional passkey authentication</li>
            <li>Real-time chat for efficient communication</li>
            <li>Easy copying of shared URLs or messages</li>
        </ul>

        <div>
            <a class="button" href="{% url 'create_room' %}">Create Room</a>
            <a class="button" href="{% url 'enter_room' %}">Enter Room</a>
        </div>

        <div class="collaborators">
            The Peeps: Christy Iqbal and Ajay <b><i><u>(CIA)</u></i></b>
        </div>
    </div>


    {% if error_message %}
    <div>
        <p style="color: red;">{{ error_message }}</p>
    </div>
    {% endif %}
    {% endblock %}
